/* Sistema de grillas básico */
.custom-container__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 50px;
}

/* Columna de 6 partes (para pantallas medianas) */
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Columna de 4 partes */
.col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* Columna de 3 partes */
.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* Estilos del footer */
.site-footer {
  width: 100%;
  background-color: #26272b;
  padding: 45px 10px 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #737373;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__description__footer {
  width: 100%;
  padding: 5px 20px 5px 0px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 100%;
  height: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 991px) {
  .custom-row [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.social-icons li {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.whatsapp:hover {
  background-color: #57be68;
}

.social-icons a.mailancor:hover {
  background-color: #007bb6;
}

.social-icons a.Instagram:hover {
  background-color: #ea4c89;
}

@media (width < 750px) {
  .custom-container__footer {
    padding: 10px 10px 40px;
  }
}

@media (width < 480px) {
  .custom-container__footer {
    flex-direction: column-reverse;
    gap: 20px;
  }
}